/* style menu */
body{
    margin: 0;
    padding: 0px;
}
.logo{
    width: 70px;
    height: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background: #ff9922;
}
li{
    float: left;
}
li a{
    padding: 18px;
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    font-family: sans-serif;
}
li a:hover{
    background: #22bbea;
}
/* end style for menu */
/* style for footer */
.main{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 150px;
    background: #22bbea;
    margin-top: 30px;
}
.col-6{
    width: 40%;
    height: 100px;
    color: #f5f5f5;
    font-family: sans-serif;
    float: right;
    padding: 10px;
    text-align: center;
    padding: 20px;
}
.col-6:nth-child(1){
    margin-right: 80px;
    
}
p{
    font-size: 15px;
}
/* end style for footer */

.textandregister{
    display:flex;
    justify-content: space-around;
    background-color: blue;

}
.text{
    width: 40%;
    color: #f0ecec;
}
.register{
    width: 58%;
    padding-bottom: 20px;
    
}
.rquee{
    color: #f5f5f5;
}
input[type=text], input[type=email]{
    width: 98%;
    height: 30px;
    margin-bottom: 20px;
}
input[type=submit]{
    width: 100px;
    height: 30px;

}
.d img{
    width: 100%;
    height: 100vh;
}
.E {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    background-color: cornflowerblue;
    padding: 20px;
    
    
}
.E img{
    width: 95%;
    height: 50vh;
    
}

.S{
    background-color:  #22bbea;
    padding-right: 50%;
    
 }

.mapouter{
    position:relative;
    text-align:right;
    height:100%;
    width:100%;
    background-color: blue;
}.images{
    display: flex;
    justify-content: space-around;
    background-color: #459bb6;
    margin-top: 50px;
}
.header{
    background: rgb(7, 7, 7);
    color:#f5f5f5(143, 141, 141);
    display:flex;
    justify-content: space-around;
    padding: 30px;
    
    
}
.pich{
    padding-left: 40px;
    color:#f0ecec;
}
.skill{
    display: flex;
    justify-content: space-around;
}
.left{
    background-color: #727474;
    width: 100%;
    color: #f0ecec;
}
.right{
    background-color: rgb(253, 253, 252);
    width: 100%;
    padding: 10px;
}

.pic{
    width: 20%;
    height:30vh;
    margin-top: 10px;
    border-radius: 50%;
}
